*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.env
.help/
grafana_container.txt
terraform/.terraform/          # provider cache, downloaded by terraform init
terraform/.terraform.lock.hcl # optional, but often committed actually
terraform/terraform.tfstate    # never commit state
terraform/terraform.tfstate.backup
terraform/tfplan               # binary plan file
terraform/*.auto.tfvars        # if it has secrets in it